<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set default logging level to ERROR -->
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Set specific package logging levels -->
    <logger name="de.unruh" level="ERROR"/>
    <logger name="org.isarepl" level="ERROR"/>
</configuration> 