# Isabelle config
ISABELLE_PATH="../verification/isabelle"
ISABELLE_HOME="../verification/isabelle"
ISA_REPL_PATH="../Isa-Repl/target/IsaREPL.jar"
ISABELLE_USER_DIR="~/.isabelle/"
SESSION_ROOT="../verification/l4v"
ISABELLE_BIN_PATH="../verification/isabelle/bin"

# dataset config
FVEL_EXTRACTION_PATH="../seL4-prover/datasets"

# tree search config
TREE_SEARCH_MAX_ATTEMPTS=128
TREE_SEARCH_SELECTED_STATES_NUM=5
TREE_SEARCH_SELECTED_HAMMER_NUM=16
TREE_SEARCH_WIDTH=128
TREE_SEARCH_MAX_DEPTH=128
